.root {
	-fx-font-family	: "Courier New";
	-fx-background-color: white;
	-fx-font-size: 11pt;	
}

.changeButton:hover {
	-fx-effect: dropshadow(gaussian, black, 10, 0.1, 2, 2);
}

.month {
	-fx-font-size: 13pt;
}

.sunday {
	-fx-text-fill: #fd3c13;
}

.day {
	-fx-font-style: italic;
}

.weekday {
	-fx-font-weight: bold;
}

.year {
	-fx-font-family: "Arial";
	-fx-font-size: 22pt;
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
	-fx-effect: dropshadow(gaussian, black, 5, 0.1, 2, 2);
}

.month {
	-fx-font-size: 13pt;
	-fx-font-weight: bold;
}

.today {
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, white 0, orange 100);	
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-border-style: dashed;
	-fx-font-weight: bold;
	-fx-font-family: "default";
}